@page "/calculator"
@using static BlazorAppWebAssembly.Models.Calculator;
@using BlazorAppWebAssembly.Models;
@using BlazorAppWebAssembly.Services;
@inject IArithematicService mathService;

<h1>My basic calculator program</h1>
<hr/>

<EditForm Model="@calculator" OnSubmit="@OnSubmit">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <p>
                    Enter the first value:
                    <InputNumber @bind-Value="calculator.FirstValue" />
                </p>
                @if (calculator.Option != Options.Square && calculator.Option != Options.SquareRoot)
                {
                    <p>
                        Enter the second value:
                        <InputNumber @bind-Value="calculator.SecondValue" />
                    </p>
                }
                <p>
                    <InputSelect @bind-Value="calculator.Option">
                        @foreach (var opt in Enum.GetValues(typeof(Options)))
                        {
                            <option>@opt</option>
                        }
                    </InputSelect>
                </p>
                <p>
                    <button class="btn btn-primary" type="submit">Get Result</button>
                </p>
                <p>
                    The result: @result
                </p>
                <p>
                    <DataAnnotationsValidator/>
                    <ValidationSummary/>
                </p>
            </div>
        </div>
    </div>
</EditForm>

@code {
    public Calculator calculator { get; set; }
    public double result = 0;

    protected override void OnInitialized()
    {
        calculator = new Calculator();
        base.OnInitialized();
    }

    private void OnSubmit()
    {
        var option = calculator.Option;
        var firstValue = calculator.FirstValue;
        var secondValue = calculator.SecondValue;

        switch (option)
        {
            case Options.Add:
                result = mathService.AddFunction(firstValue, secondValue);
                break;
            case Options.Subtract:
                result = mathService.SubFunction(firstValue, secondValue);
                break;
            case Options.Multiply:
                result = mathService.MultFunction(firstValue, secondValue);
                break;
            case Options.Divide:
                result = mathService.DivFunction(firstValue, secondValue);
                break;
            case Options.Square:
                result = mathService.SquareFunction(firstValue);
                break;
            case Options.SquareRoot:
                result = mathService.SquareRootFunction(firstValue);
                break;
        }
    }

}
